---

const dataCompanies = [
    {
        href:"https://www.caser.es/informacion-contacto",
        src:"/images/company/caser.webp",
        alt:"Seguros Caser"
    },
    {
        href:"https://www.segurcaixaadeslas.es/listado-telefonos-atencion-cliente",
        src:"/images/company/adeslas.webp",
        alt:"Seguros Adeslas"
    },
    {
        href:"https://www.allianz.es/contacto.html",
        src:"/images/company/allianz.webp",
        alt:"Seguros Allianz"
    },
    {
        href:"https://www.reale.es/es/te-ayudamos/contacto",
        src:"/images/company/reale.webp",
        alt:"Seguros Reale"
    },
    {
        href:"https://www.occident.com/contacto",
        src:"/images/company/occident2.webp",
        alt:"Seguros Plus Ultra"
    },
    {
        href:"https://www.mapfre.es/particulares/contacto/atencion/",
        src:"/images/company/mapfre.webp",
        alt:"Seguros Mapfre"
    },
    {
        href:"https://www.fiatc.es/contactanos",
        src:"/images/company/fiatc.webp",
        alt:"Seguros Fiatc"
    },
    {
        href:"https://www.santalucia.es/contacto",
        src:"/images/company/santalucia.webp",
        alt:"Seguros Santalucia"
    },
    {
        href:"https://www.generalion.es/contactanos",
        src:"/images/company/generali.webp",
        alt:"Seguros Generali"
    },
    {
        href:"https://mutuatfe.es/telefonos-asistencia/",
        src:"/images/company/tinerfenia.webp",
        alt:"Seguros Tinerfeña"
    },
    {
        href:"https://www.senassur.es/#servicios",
        src:"/images/company/senassur.webp",
        alt:"Seguros Senassur"
    },
    {
        href:"https://www.axa.es/servicios-contacto-telefonos",
        src:"/images/company/axa.webp",
        alt:"Seguros Axa"
    },
    {
        href:"https://www.arag.es/contacto/",
        src:"/images/company/arag.webp",
        alt:"Seguros Arag"
    },
    {
        href:"https://www.segurosmeridiano.com/contacto",
        src:"/images/company/meridiano.webp",
        alt:"Seguros Meridiano"
    },
        {
        href:"https://www.aegon.es/sobre-aegon/contacto",
        src:"/images/company/aegon.webp",
        alt:"Seguros Aegon"
    },
    {
        href:"tel:+34900922992",
        src:"/images/company/asisa.webp",
        alt:"Seguros Asisa",
        mov:"900 922 992"
    },
    {
        href:"tel:+34933041600",
        src:"/images/company/previsora.webp",
        alt:"Seguros Previsora",
        mov:"933 041 600"
    },
    {
        href:"tel:+34961134223",
        src:"/images/company/aura.webp",
        alt:"Seguros Aura",
        mov:"961 134 223"
    }
]

---


<div class="asistance">
    <h1>Asistencia 24hs</h1>
    <ul id="containAsistance">
        {
            dataCompanies.map((item, index) => (
              <>
                {item.mov && (
                    <li>
                        <a href={item.href} target="_blank">
                            <img src={item.src} alt={item.alt}>
                            <i class="fa-solid fa-phone"></i> {item.mov}
                        </a>
                    </li>
                )}
                {!item.mov && (
                    <li>
                        <a href={item.href} target="_blank">
                            <img src={item.src} alt={item.alt}>
                        </a>
                    </li>
                )}
              </>
            ))
        }
    </ul>
</div>

<style>
    .asistance{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    }
    #containAsistance{
        width: 80%;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 240px);
        grid-auto-rows: 140px;
        gap: 20px;
        padding: 30px 0;
        border-top: 6px solid;
        border-color: var(--blue);
        background-color: #ffff;
        box-shadow: 5px 5px 18px #adadad;
    }
    #containAsistance > li{
        text-align: center;
        list-style: none;
    }
    #containAsistance >* a{
        color: var(--blue)
    }
    #containAsistance >* img{
        width: 100%;
    }
</style>