---
import Link from './ui/link.astro';

interface Props {
    title:string;
    image:string;
    alt:string;
    date:string;
    href:string
}

const { title, image, alt,  date, href} = Astro.props

---
<section>
    <main>
        <img src={image} alt={alt} draggable="false">
        <h1>{title}</h1>
        <span>{date}</span>
        <div class="prose max-w-none">
            <slot name="article" />
        </div>
        <Link
          href={href}
          className="botonGenerico"
          >Calcula tu seguro ahora mismo
        </Link>
    </main>
</section>


<style>
    main{
        width: 85%;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    main > div{
        width: 100%;
    }


    main > img{
        width: 80%;
        max-width: 900px;
    }


    @media only screen and (max-width: 900px)  {
        main > img{
            width: 100%;
        }
    }
</style>

