---

const { post } = Astro.props;

if (!post) {
	return;
}
---

<article class=" hover:rotate-1 transition hover:scale-105 duration-500 bg-white shadow-md">
	<a href={`/blog/${post.id}`} class="h-full flex flex-col">
		<img src={post.data.image} alt={post.data.imageAlt}/>
		<div class="px-4 pt-8 flex flex-col grow border-x-2 border-b-2 border-gray-100 overflow-hidden">
			<h4 class="tracking-wide" transition:name={`post-title-${post.id}`}>{post.data.title}</h4>
			<p class="mt-2 mb-8 prose" transition:name={`post-excerpt-${post.id}`}>{post.data.excerpt}</p>
			<span
				class="text-center px-4 py-2 -mx-4 text-white text-2xl bg-brand mt-auto block"
			>
				Leer
			</span>
		</div>
	</a>
</article>
