---
import Link from "./ui/link.astro"
---

<section id="productos">
    <h3>Seguros destacados en Las Palmas</h3>
    <article>
        <div>
            <h3 id="productoTitle">Seguros de Hogar en Las Palmas</h3>
            <p id="productoTxt">Calcula online tu seguro de hogar. Encuentra el mejor precio para asegurar tu vivienda con todas las coberturas que necesitas.</p>
            <!-- <a href="./landings/hogar.html" class="botonGenerico" id="enlace">Calcula tu Seguro<i class="fa-solid fa-angle-right"></i></a> -->
            <Link
            href="/seguro-las-palmas/hogar/"
            className="botonGenerico"
            id="enlace"
            >
            Calcula tu Seguro
            </Link>
        </div>
        <div>
            <img src="images/hogar_dest.webp" alt="Seguros Las Palmas" id="productoImg" draggable="false">
        </div>
        <div>
            <div class="botonProducto Active" onclick="clickProduct(1)"><i class="fa-solid fa-house"></i>HOGAR</div>
            <div class="botonProducto" onclick="clickProduct(2)"><i class="fa-sharp fa-solid fa-seedling"></i>DECESOS</div>
            <div class="botonProducto" onclick="clickProduct(3)"><i class="fa-solid fa-heart-pulse"></i>SALUD</div>
            <div class="botonProducto" onclick="clickProduct(4)"><i class="fa-solid fa-plane"></i>VIAJES</div>
            <div class="botonProducto" onclick="clickProduct(5)"><i class="fa-solid fa-sailboat"></i>EMBARCACIONES</div>
        </div>
    </article>
</section>

<script is:inline>
const enlace = document.getElementById("enlace");
const Image = document.getElementById("productoImg");
const productActive = document.getElementsByClassName("botonProducto");
const productNoActive = Array.from(document.getElementsByClassName("botonProducto")); 

    const animateCSS = (element, animation, prefix = 'animate__') =>
    new Promise((resolve, reject) => {
    const animationName = `${prefix}${animation}`;
    productoTxt.classList.add(`${prefix}animated`, animationName);
    productoTitle.classList.add(`${prefix}animated`, animationName);
    Image.classList.add(`${prefix}animated`, animationName);
function handleAnimationEnd(event) {
  event.stopPropagation();
  productoTxt.classList.remove(`${prefix}animated`, animationName);
  productoTitle.classList.remove(`${prefix}animated`, animationName);
  Image.classList.remove(`${prefix}animated`, animationName);
  resolve('Animation ended');
}
     productoTitle.addEventListener('animationend', handleAnimationEnd, {once: true});
     productoTxt.addEventListener('animationend', handleAnimationEnd, {once: true});
})

function NoActive(){
 productNoActive.forEach(productNoActive => {
     productNoActive.classList.remove('Active');
     });
};

   

function clickProduct(boton){
 NoActive();
    switch (boton){
        case 1:
             productActive[0].classList.add("Active");
             productoTitle.innerHTML= "Seguros de Hogar en las palmas";
             productoTxt.innerHTML= "Calcula online tu seguro de hogar. Encuentra el mejor precio para asegurar tu vivienda con todas las coberturas que necesitas.";
             enlace.href="/seguro-las-palmas/hogar/";
             Image.src="images/hogar_dest.webp";
             break;
         case 2:
             
             productActive[1].classList.add("Active");
             productoTitle.innerHTML= "Seguros Decesos en las palmas";
             productoTxt.innerHTML= "Calcula online tu seguro de decesos. Seguro de decesos completo. Hasta un 60% más barato.";
             enlace.href="/seguro-las-palmas/decesos/";
             Image.src="images/decesos_destLow.webp";
             break;
         case 3:
             productActive[2].classList.add("Active");
             productoTitle.innerHTML= "Seguros de Salud en las palmas";
             productoTxt.innerHTML= "Solicita presupuesto de tu seguro de salud.  Acceso a los mejores hospitales y especialistas sin esperas.";
             enlace.href="/seguro-las-palmas/salud/";
             Image.src="/images/salud_destLow.webp";
             break;                
         case 4:
             productActive[3].classList.add("Active");
             productoTitle.innerHTML= "Seguros de Viajes en las palmas";
             productoTxt.innerHTML= "Solicita presupuesto de tu seguro de viaje.  Porque cada viaje es diferente. ¡Elige el seguro que más se adapte a tus necesidades!";
             enlace.href="/seguro-las-palmas/viajes/";
             Image.src="/images/viajes_dest.webp";
             break;    
         case 5:
             productActive[4].classList.add("Active");
             productoTitle.innerHTML= "Seguros de Embarcaciones en las palmas";
             productoTxt.innerHTML= "Solicita presupuesto de tu seguro de embarcaciones. Incluye Cobertura de salvamento marítimo.  Adaptamos las coberturas a tus necesidades.";
             enlace.href="/seguro-las-palmas/embarcaciones/";
             Image.src="/images/barcos_destLow.webp";
             break;   
                                                       
    };
    animateCSS(productoTitle,"fadeIn"); 
    animateCSS(productoTxt,"fadeIn"); 
};  

</script>

<style>

#productos{
    width: 85%;
    text-align: center;
    padding: 60px 0;
    margin: auto;
}

#productos >article{
    background-color: #ffff;
    box-shadow: 5px 5px 18px #adadad;
    border-top: 6px solid;
    border-color: var(--blue);
    padding: 120px 60px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 400px;
    grid-template-areas: 
        "txt image boton"
    ;
    align-items: center;
    gap:30px;
    margin-bottom: 100px; 
    overflow: hidden;  
}

article > div:nth-child(1){
    text-align: left;
    padding-left: 20px;
}

#productoTxt{
    padding: 20px 0;
}

#productos article > div:nth-child(2){
    border: 2px solid grey;
    grid-area: image;
    height: 100%;
    padding: 20px;
    overflow: hidden;
    min-width: 250px;
}

#productos article *> img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#productos article > div:nth-child(3){
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    grid-area: boton;
    
}

.botonProducto{
    border-bottom: 1px solid;
    border-color: var(--grey);
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    cursor: pointer;
    color: var(--grey);
    font-family: nunito semi;
    margin: auto;
    width: 80%;
}

.botonProducto:hover{
    color: var(--blue);
}

.Active{
    color: var(--blue);
}

.botonProducto > i{
    font-size: 2rem;
}

@media only screen and (max-width: 900px)  {
   #productos >article{
       grid-template-rows:repeat(3, 1fr);
       grid-template-columns: 1fr;
       grid-template-areas: 
       "boton"
       "image" 
       "txt";
       gap: 30px;
       padding: 20px 10px;
   }   
}

</style>